html, body {
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  margin: 0 auto;

}

.white-keys kbd {
  display: inline-block;
  width: 50px;
  height: 30px;
  background-color: white;
  margin-right: -5px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
  border: 2px solid darkgray;
  font-weight: bold;
  font-size: 20px;
}

.black-keys kbd {
  position: absolute;
  display: inline-block;
  margin-right: -5px;
  background-color: black;
  width: 40px;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.key-w {
  top: 0;
  right: 280px;
}

.key-e {
  top:0;
  right: 230px;
}

.key-t {
  top:0;
  right: 140px;
}

.key-y {
  top:0;
  right: 85px;
}

.key-u {
  top:0;
  right: 35px;
}